<!doctype html>
<html lang="en">
<head>

  {% load static %}

  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
  <link rel="icon" href="../../static/assets/logo-small.png">

</head>
<body>

<header>

  <nav class="main-menu header-footer">
    <ul class="nav-menu">
      <div>
        <li><a href="{% url 'home' %}"><img src="../../static/assets/logo.png" id="logo"></a></li>
      </div>

      <div>
        <li id="welcome-message">Welcome to Yugi Academy, {{ user.get_username }}!</li>
      </div>

      <div id="nav-links">
          <li> <a href="{% url 'cards' %}">Cards</a></li>
          <li> <a href="{% url 'booster-packs' %}">Booster Packs</a></li>
          <li> <a href="{% url 'about' %}">About</a></li>
          <li>
              <form name="form-nav" method="post" action="">
                  <select name="avatar" id="profile" onchange="location.href=form.avatar.value;">
                    <option id="option-hide" value="{% url 'cards' %}"> </option>
                    <option value="{% url 'profile' %}">Profile</option>
                    <option value="{% url 'home' %}">Logout</option>
                  </select>
              </form>
          </li>
      </div>
    </ul>
  </nav>
</header>

<main class="main-content-background">
    {% block page-content %}
    {% endblock %}
</main>
</body>
</html>