{% extends "YuGiOh/base.html" %}
{% block page-content %}
    <h1>Booster Packs</h1>
    <a href="{% url 'find_or_store_booster_pack' %}">Register booster pack</a>
    <form action="" method="post"> {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    {% if not booster_packs %}
        <p>No booster pack has been found or registered yet.</p>
    {% else %}
        <ul>
            {% for booster_pack in booster_packs %}
                <li>{{booster_pack.name}}</li>
                <a href="{% url 'booster_pack' booster_pack.id %}">Cards</a>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
