{% extends "YuGiOh/base.html" %}
{% block page-content %}
    <section class="cards-registration-section">
      <h1>Cards in {{ booster_pack.name }}</h1>
      <input id="submit-button" class="button" type="button" onclick="location.href='{% url store_url %}'" value="Register">
    </section>
    <section class="cards">
        {% if not booster_pack_cards %}
            <p style="font-weight: bold; color: #6c7983">
                No {{ type_description }} has been registered yet.
            </p>
        {% else %}
            {% for booster_pack_card in booster_pack_cards %}
                <article class="card">
                  <p style="font-weight: bold; color: #6c7983; text-align: center">
                            {{booster_pack_card.card_name }} - {{ booster_pack_card.identifier }} - {{ booster_pack_card.rarity }}
                  </p>
                    <a href="{{booster_pack_card.card.image.url }}" target="_blank">
                        <img class="image" src="{{booster_pack_card.card.image.url }}" title="{{ booster_pack_card.card_name }} - {{ booster_pack_card.card_type }} {{ booster_pack_card.card_type_description.title }}">
                    </a>
                    <div class="actions">
                        <a class="action" href="{% url purge_url booster_pack_card.id %}">
                            <img class="icono-booster-packs" src="/static/assets/delete.jpg" alt="Delete" title="Delete" />
                        </a>
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}
