{% extends "YuGiOh/base.html" %}
{% block page-content %}
    <section class="cards-registration-section">
      <h1>{{ card_type.capitalize }} Cards</h1>
      <input id="submit-button" class="button" type="button" onclick="location.href='{% url store_url %}'" value="Register">
    </section>
    <section class="cards">
        {% if not cards %}
            <p style="font-weight: bold; color: #6c7983">
                No {{ card_type }} card has been registered yet.
            </p>
        {% else %}
            {% for card in cards %}
                <article class="card">
                  <p style="font-weight: bold; color: #6c7983; text-align: center">
                            {{card.name }} - {{ card.type }}
                  </p>
                    <a href="{{card.image.url }}" target="_blank">
                        <img class="image" src="{{card.image.url }}" title="{{card.name }} - {{ card.type }} Spell Card">
                    </a>
                    <div class="actions">
                        <a class="action" href="{% url update_url card.id %}">
                            <img class="icono-booster-packs" src="/static/assets/update.jpg" alt="Update" title="Update" />
                        </a>
                        <a class="action" href="{% url purge_url card.id %}">
                            <img class="icono-booster-packs" src="/static/assets/delete.jpg" alt="Delete" title="Delete" />
                        </a>
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}