{% extends "YuGiOh/base.html" %}
{% block page-content %}
    <h1>Cards</h1>

    <a href="{% url 'store_spell_card' %}">Register spell card</a>
    <h2>Monster Cards</h2>
    <ul>
        {% for card in monster_cards %}
            <li>{{card.name}}</li>
        {% endfor %}
    </ul>

    <h2>Spell Cards</h2>
    <ul>
        {% for card in spell_cards %}
            <li>{{card.name}}</li>
        {% endfor %}
    </ul>

    <h2>Trap Cards</h2>
    <ul>
        {% for card in trap_cards %}
            <li>{{card.name}}</li>
        {% endfor %}
    </ul>
{% endblock %}