<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Yugi Academy</title>

    <link href="../../static/css/styles.css" rel="stylesheet" />
    <link rel="icon" href="../../static/assets/logo.png">

</head>
<body>

      <video autoplay muted loop id="backgroundVideo">
        <source src="../../static/assets/backgroundVideo.mp4" type="video/mp4">
      </video>

      <div class="content">
        <h1>Welcome to Yugi Academy</h1>
      </div>

</body>
</html>