<!doctype html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="{%static 'YuGiOh/css/styles.css' %}'" rel="stylesheet" />
    <link href="../../static/css/cardsPage.css" rel="stylesheet" />
    <link rel="icon" href="../../static/assets/logo.png">

</head>
<body>

    <header>

      <nav class="main-menu header-footer">
          <!-- Menú principal -->
          <ul class="nav-menu">
            <div>
              <li> <a href="{% url 'Inicio' %}"><img src="../../static/assets/logo-big.png" id="logo"></a></li>
            </div>

            <input id="abrir-cerrar" name="abrir-cerrar" type="checkbox" value="" />
            <label for="abrir-cerrar" class="toggle-button">

              <div id="nav-links">
                <span class="abrir">
                  <li> <a href="{% url 'Cards' %}">Cards</a></li>
                  <li> <a href="{% url 'Decks' %}">Decks</a></li>
                  <li> <a href="{% url 'MyCards' %}">My Cards</a></li>
                  <li> <a href="{% url 'AboutUs' %}">About Us</a></li>
                </span>
              </div>
            </label>
          </ul>
      </nav>
    </header>

    {% block contenidoQueCambia %}

    {% endblock %}


</body>
</html>