{% extends "YuGiOh/base.html" %}
{% block page-content %}

<h1>Profile</h1>

<form action="/yugioh/profile" method="post" id="profile-form">
    <div id="avatar-block">
      <figure>
        <img src="../../static/assets/profile-icon-black.png">
        <span> <img src="../../static/assets/camera-gold.png" title="Load a profile image"> </span>
        </figure>
      </div>
        <div class="form-row">
          <label for="id_username">Username:</label>
          <input
            type="text"
            name="username"
            autofocus=""
            autocapitalize="none"
            autocomplete="username"
            maxlength="150"
            required=""
            id="id_username"
          />

        </div>

        <div class="form-row">
          <label for="id_full_name">Full name:</label>
          <input
            type="text"
            name="full_name"
            autofocus=""
            autocapitalize="none"
            autocomplete="id_names"
            maxlength="150"
            required=""
            id="id_full_name"
          />

          <label for="id_email">Email:</label>
          <input
            type="text"
            name="username"
            autofocus=""
            autocapitalize="none"
            autocomplete="username"
            maxlength="150"
            required=""
            id="id_email"
          />
        </div>

    <div class="form-row">
            <label for="id_password">Password:</label>
          <input
            type="password"
            name="password"
            autocomplete="current-password"
            required=""
            id="id_password"
          />
          <input type="hidden" name="next" value="/   admin/" />
          <input type="submit" value="Change Password" id="change-password-button" />
</div>

        <div class="submit-row">
          <input type="submit" value="Save" id="submit-button" />
        </div>
      </form>

{% endblock %}