html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    color: #d9b054;
}

h2 {
  text-align: center;
  color: #d9b054;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

input {
  text-align: left;
  max-width: 75%;
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
}

.content {
  position: fixed;
  margin-top: 15rem;
  margin-left: 10rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: 15% 35% auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.main-menu {
  border: 1px black solid;
  color: white;
}

.main-menu li {
  list-style-type: none;
  cursor: pointer;
  display: inline-block;
  padding: 0 1.3rem;
  font-size: 1.4rem;
}

.main-menu li :hover {
  color: #d9b054;
}

#nav-links {
  text-align: right;
}

#nav-links form select.cards {
    background-color: #000;
    color: #fff;
    font-size: 1.4rem;
    border: none;
}

#nav-links form select.cards:hover {
    color: #d9b054;
}

#nav-links form select.cards option {
    font-size: 1rem;
}

#nav-links form select:hover {
    cursor: pointer;
}

.header-footer {
  background: black;
}

.header-footer a {
  text-decoration: none;
  color: white;
}

#logo {
  max-width: 10rem;
}

#welcome-message {
    display: flex;
    cursor: inherit;
    justify-content: center;
    color: #d9b054;
}

.main-content-background {
  background-image: url("/static/assets/background-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  min-height: 50rem;
}

#authentication-form {
  color: white;
  text-align: left;
  margin: 10% auto;
  border: 2px solid black;
  border-radius: 3%;
  max-width: 50%;
  background-image: url("/static/assets/login-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#authentication-form p{
      font-size: 1.2rem;
}

#authentication-form h1 {
    font-size: 2em;
    margin: 0.67em 4rem;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.8em;
    font-weight: bold;
}

#authentication-form label {
  text-align: center;
  font-weight: bold;
}

#create-account{
    color: #d9b054;
}

.home-section {
    margin-left: 1rem;
    width: 65%
}

.home-section p {
    line-height: 1.5rem;
}

#profile-form {
  background-color: black;
  text-align: center;
  margin: 0.8rem auto;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 3%;
  max-width: 25%;
  color: white;
}

#profile-form h1 {
  padding: 0 0 0;
  margin: 1rem;
  text-align: center;
}

#profile-form input {
    min-width: 90%;
}

#profile-form textarea {
    min-width: 90%;
}

#profile-form #id_username{
    color: white;
    border: 1rem black;
}

.form-row {
  text-align: left;
  margin-left: 2rem;
}

.submit-row {
  text-align: left;
  margin-left: 3%;
}

#profile-form .form-row {
    text-align: center;
    margin-left: 0;
}

#profile-form .submit-row {
    text-align: center;
    margin-left: 0;
}

.button {
  color: white;
  border: #6c7983;
  border-radius: 10%;
  padding: 1rem;
  min-width: 8rem;
  max-width: 10rem;
  cursor: pointer;
  margin: 1rem 0;
  align-self: center;
  text-align: center;
  font-weight: bold;
}

#back-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    background-color: #6c7983;
}

#login-button {
  background-color: #d9b054;
}

#signup-button {
  background-color: #d9b054;
}

#save-button {
  background-color: #d9b054;
}

#update-password-button{
  background-color: #6c7983;
}

.avatar{
  border-radius: 50%;
  background-color: black;
  color: white;
  border-color: white;
  width: 4rem;
  height: 4rem;
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar option {
  margin: 25rem;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

#option-hide{
  display: none;
}

#avatar-block{
  text-align: center;
}

#avatar-block figure{
    position: relative;
}

#avatar-block figure img {
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 100%;
    transition: all 100ms ease-out;
}

#avatar-block figure label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all 100ms ease-out;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

#avatar-block figure:hover > label{
    opacity: 1;
    visibility: visible;
}

#description{
  min-height: 5rem;
  min-width: 75%;
  text-align: left;
}

#select_avatar_file{
    margin-top: -10rem;
    padding-top: 5rem;
    cursor: pointer;
    opacity: 0;
}

label[for="avatar-clear_id"]
{
    display:none;
}

#avatar-clear_id{
    display: none;
}

#gold-camera {
    border-radius: 0 !important;
}


.about-images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.image-about{
  max-width: 100%;
  margin: 2rem;
}

#about-message {
    text-align: center;
}

.message-error {
    color:white;
}

.message-info {
    color:white;
}

#main-messages h1{
    text-align: center;
}

#message-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#conversation-messages{
    color: white;
    list-style: none;
}

#conversation-messages li{
    margin-top: 1rem;
    margin-right: 2.5rem;
}
#conversation-messages li span{
    border-radius: 15%;
    padding: 0.3rem;
}

.conversation-box {
    background-color: #0f3a42;
    width: 45%;
    margin: auto;
    border-radius: 10%;
    padding-bottom: 1rem;
}

#user-name-and-avatar-conversation{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    padding-top: 1.5rem;
}

#name-conversation{
    margin-left: 2rem;
}


#avatar-conversation{
    background-color: transparent;
}

#content-main-send-messages {
    text-align: center;
}

#send-messages-buttons {
    text-align: center;
}

#booster-packs-box{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    width: 80%;
    height: 40rem;
}

#register-booster-pack{
    display: flex;
    max-width: 40%;
    height: auto;
    background-image: url('/static/assets/booster-packs-creation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 10rem;
    justify-content: center;
    align-items: flex-end;
}

#filter-booster-pack{
    max-width: 100%;
    height: 30rem;
    background-image: url('/static/assets/booster-packs.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#booster-packs-box label{
    font-weight: bold;
}


.icono-booster-packs{
    width: 2rem;
    height: 1.5rem;
}

#booster-packs-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #6c7983;
    margin-top: 1rem;
    text-align: center;
}

#filter-booster-pack-form{
    display: grid;
    align-items: center;
    justify-content: center;
    min-width: 80%;
    margin-top: -0.5rem;
}

#filter-booster-pack-form input{
    min-width: 85%;
}


.booster-pack-row{
    margin-top: 1rem;
}

.booster-packs-grid-title {
    font-weight: bold;
    color: black;
}

#booster-pack-registration-form{
    text-align: center;
}

#booster-pack-registration-form input{
    text-align: center;
}

#booster-packs-registration-buttons{
    text-align: center;
}