html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

body {
    margin: 0;
}


main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
}

.content {
  position: fixed;
  margin-top: 15rem;
  margin-left: 10rem;
}

#login-form {
  color: black;
  margin-top: 2rem;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 3%;
  margin-left: 3rem;
  margin-right: 3rem;
}

.form-row {
  text-align: center;
  margin-top: 2rem;
}

select#profile{
  background-image: url("../../static/assets/profile-icon-white.png");
  border-radius: 50%;
  background-color: black;
  color: white;
  border-color: white;
  width: 4rem;
  height: 4rem;
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: center;
}

select#profile option {
  margin: 25rem;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}


#option-hide{
  display: none;
}

.submit-row {
  text-align: center;
}

#profile-form {
  margin-top: 2.5rem;
  font-size: 1.2rem;
  text-align: center;
}

#profile-form h1 {
  font-size: 2rem;
  padding: 0 0 0;
  margin: 1rem;
  text-align: center;
}

#profile-form label {
  margin: 0.5rem;
  font-weight: bold;
}


#login-form label {
  margin: 0.5rem;
  text-align: center;
  font-weight: bold;
}

input {
  text-align: left;
  min-width: 15%;
  margin: 0 1rem;
}

#change-password-button{
  background-color: #6c7983;
  color: white;
  border: #6c7983;
  border-radius: 10%;
  padding: 1rem;
  min-width: 8rem;
  max-width: 10rem;
  cursor: pointer;
  margin-bottom: 1rem;
  align-self: center;
  text-align: center;
}

#submit-button {
  background-color: #d9b054;
  color: white;
  border: #6c7983;
  border-radius: 10%;
  padding: 1rem 2rem 1rem 2rem;
  min-width: 8rem;
  max-width: 10rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: center;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

#avatar-block{
  text-align: center;
}

#avatar-block figure{
    position: relative;
}

#avatar-block figure img {
    max-width: 10rem;
    transition: all 100ms ease-out;
}

#avatar-block figure span {
    position: absolute;
    top: 0;
    width: 95%;
    height: 95%;
    background: rgba(0, 0, 0, 0.6);
    transition: all 100ms ease-out;
    opacity: 0;
    visibility: hidden;
    max-width: 10rem;
    cursor: pointer;
    margin-left: -9.95rem;
    border-radius: 50%;
}

#avatar-block figure:hover > span{
    opacity: 1;
    visibility: visible;
}

#image-login {
  max-width: 100%;
  max-height: 65%;
  display: block;
  margin: 0px auto;
}

.main-content-background {
  background-image: url("../assets/background-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  min-height: 50rem;
}

h1 {
  color: #d9b054;
  text-align: center;
}

h2 {
  text-align: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: 15% auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.main-menu {
  border: 1px #191c1c solid;
}

.main-menu li {
  list-style-type: none;
  cursor: pointer;
  display: inline-block;
  padding: 0 1.3rem;
  font-size: 1.4rem;
}

.main-menu li a:hover {
  color: #d9b054;
}

#nav-links {
  text-align: right;
}

.header-footer {
  background: #191c1c;
}

.header-footer a {
  text-decoration: none;
  color: white;
}

#logo {
  max-width: 10rem;
}