{% extends "YuGiOh/base.html" %}
{% block page-content %}
    <section class="home-section">
        <h1>
            Your place to learn all about Yu-Gi-Oh! cards, sets, ban lists and much more
        </h1>
        <p>
            <strong>Yugi Academy</strong> is a free repository on all aspects of the
            <i><a href="https://yugioh.fandom.com/wiki/Yu-Gi-Oh!" title="Yu-Gi-Oh!" target="_blank">Yu-Gi-Oh!</a></i> franchise
            that anyone can edit. We've assembled a lot of information
            about the cards and other aspects of the <strong>Yu-Gi-Oh!</strong> phenomenon.
            Visit this page for dates of upcoming Yu-Gi-Oh! TCG & OCG product releases, as well as anime air dates and manga book release dates.
        </p>
    </section>
{% endblock %}