{% extends "YuGiOh/base.html" %}
{% block page-content %}

<form action="/yugioh/profile" method="post" id="profile-form" enctype="multipart/form-data">
    <div id="avatar-block">
      <figure>
        <img src="../static/assets/profile-icon-white.png">
        <span> <img src="../static/assets/camera-gold.png" title="Load a profile image">
        <input type="file" id="adjunct"  name="adjunct" accept=".pdf,.jpg,.png" value="image"/>
        </span>
        </figure>
      </div>

    <div class="form-row">
      <p>Username</p>
      <label for="username"></label>
      <input
            type="text"
            name="username"
            autocomplete="username"
            maxlength="150"
            required=""
            id="username"
            value = "{{username}}"
      readonly />
    </div>

      <div class="form-row">
        <p>Full name</p>
        <label for="full_name"></label>
        <input
            type="text"
            name="full_name"
            autofocus=""
            autocapitalize="none"
            autocomplete="full_name"
            maxlength="150"
            required=""
            id="full_name"
            placeholder="Enter your full name"
            value = "{{name}}"
        />
      </div>

    <div class="form-row">
      <p>Description</p>
      <label for="field_description"></label>
      <textarea id="field_description" name="field_description" placeholder="Describe yourself" value = "{{description}}"></textarea>
    </div>

    <div class="form-row">
      <p>Link to social network</p>
      <label for="id_social_network"></label>
      <input
            type="text"
            name="link"
            autofocus=""
            autocapitalize="none"
            autocomplete="link"
            maxlength="150"
            required=""
            id="id_social_network"
            placeholder="Enter your social network"
            value = "{{web_site}}"
      />
    </div>

    <div class="form-row">
      <p>Email</p>
      <label for="id_email"></label>
      <input
            type="email"
            name="email"
            autofocus=""
            autocapitalize="none"
            autocomplete="email"
            maxlength="150"
            required=""
            id="id_email"
            placeholder="Enter your email"
            value = "{{email}}"
            readonly />
    </div>

    <div class="form-row">
      <p>Password</p>
      <label for="id_password"></label>
      <input
            type="password"
            name="password"
            autocomplete="current-password"
            required=""
            id="id_password"
            value = "{{password}}"
            readonly />
    </div>

    <div class="form-row">
      <input type="submit" value="Change Password" id="change-password-button" />
    </div>

    <div class="submit-row">
      <input type="submit" value="Save" id="submit-button" />
    </div>

</form>

{% endblock %}