<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Sign Up | Yugi Academy</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/static/css/styles.css" rel="stylesheet" />
    <link rel="icon" href="/static/assets/login-icon.png" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/main.js"></script>
  </head>

  <body class="signup" data-admin-utc-offset="0">
    <div id="content-main">
      <form action="" method="post" id="authentication-form"> {% csrf_token %}

        <h1>Sign Up to Yugi Academy</h1>

       {{ form.as_p }}

        <div class="submit-row">
          <input type="button" onclick="location.href='login';" class="button" id="back-button" value="Back"/>
          <input type="submit" value="Sign Up" class="button" id="signup-button" />
        </div>

      </form>
    </div>
          {% if messages %}
            {% for message in messages %}
            <p {% if message.tags %} class="message-{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
  </body>
</html>
