{% extends "YuGiOh/base.html" %}
{% block page-content %}

    {% if messages %}
            {% for message in messages %}
            <p {% if message.tags %} class="message-{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}

    <form action="" method="post" id="profile-form" enctype="multipart/form-data"> {% csrf_token %}
        <div id="avatar-block">
          <figure>
            {% if user.userprofile.avatar %}
              <img id="avatar" src="{{user.userprofile.avatar.url }}">
            {% else %}
              <img id="avatar" src="../static/assets/profile-icon-white.png">
            {% endif %}
              <label for="image" style="cursor: pointer;">
                <span> <img id="gold-camera" src="../static/assets/camera-gold.png" title="Load a profile image">
                </span>
              </label>
            <input type="file" name="avatar" accept="image/*" id="select_avatar_file">
            </figure>
          </div>

        {{ form.as_p }}

        <div class="form-row">
          <input type="button" value="Update Password" onclick="location.href='update-password';" class="button" id="update-password-button"/>
        </div>

        <div class="submit-row">
          <input type="submit" value="Save" class="button" id="save-button" />
        </div>

    </form>
{% endblock %}