{% extends "YuGiOh/base.html" %}
{% block page-content %}

    <h1 id="about-message">Your place to learn all about Yu-Gi-Oh! cards, sets, ban lists and much more!</h1>

    <main class="about-images">
        <img
          class="image-about"
          src="../static/assets/ezequiel-balsamo-card.jpg"
          alt="Image of Nicolás Guido Barbeito, represented by a Yu-Gi-Oh! Effect Monster card, which states that he is a semi-senior full stack developer, passionate about football and video games."
        />
        <img
          class="image-about"
          src="../static/assets/nicolas-barbeito-card.jpg"
          alt="Image of Alexander Ezequiel Bálsamo, represented by a Yu-Gi-Oh! Normal Monster card, which states that he is a senior full stack developer, fan of Club Atlético Lanús."
        />
    </main>
{% endblock %}
